LevelDesc(
    objects: [
		(id: Field, position: (1, 0)),
		(id: Field, position: (0, 1)),
		(id: Mountain, position: (0, 7)),
		(id: Mountain, position: (1, 8)),
		(id: Mountain, position: (2, 8)),
		(id: Mountain, position: (3, 8)),
		(id: Mountain, position: (4, 8)),
		(id: Mountain, position: (4, 7)),
		(id: Field, position: (3, 0)),
		(id: Field, position: (2, 0)),
		(id: BigHouse, position: (2, 2)),
		(id: Field, position: (1, 1)),
		(id: Field, position: (1, 2)),
		(id: King, position: (2, 1)),
		(id: House, position: (3, 6)),
		(id: Mountain, position: (2, 6)),
		(id: Mountain, position: (1, 7)),
		(id: Mountain, position: (3, 7)),
		(id: Castle, position: (2, 7)),
		(id: Field, position: (3, 2)),
		(id: Field, position: (4, 0)),
		(id: Field, position: (4, 1)),
		(id: Field, position: (3, 1)),
		(id: Field, position: (4, 2)),
    ],
)