LevelDesc(
    objects: [
        (id: House, position: (1, 0)),
        (id: King, position: (2, 0)),
        (id: Church, position: (4, 0)),
        (id: Tower, position: (1, 1)),
        (id: Mountain, position: (2, 1)),
        (id: House, position: (3, 1)),
        (id: Field, position: (4, 2)),
        (id: House, position: (0, 3)),
        (id: Farm, position: (3, 3)),
        (id: Cow, position: (4, 3)),
        (id: Villager, position: (1, 4)),
        (id: Tavern, position: (2, 4)),
        (id: Field, position: (3, 4)),
        (id: BigHouse, position: (1, 5)),
        (id: BigHouse, position: (2, 5)),
        (id: Castle , position: (3, 5)),
        (id: Field, position: (4, 5)),
        (id: Assassin, position: (2, 6)),
        (id: Cow, position: (0, 7)),
        (id: Tower, position: (2, 7)),
        (id: Mountain, position: (4, 7)),
        (id: Field, position: (1, 8)),
        (id: Mountain, position: (2, 8)),
        (id: Mountain, position: (3, 8)),
        (id: Mountain, position: (4, 8)),
    ],
)
