LevelDesc(
    objects: [
        (id: King, position: (4, 7)),
        (id: Castle, position: (1, 1)),
        (id: Field, position: (3, 0)),
        (id: House, position: (3, 4)),
        (id: BigHouse, position: (3, 7)),
        (id: Church, position: (0, 7)),
        (id: Tavern, position: (0, 1)),
        (id: Mountain, position: (4, 8)),
        (id: Mountain, position: (3, 8)),
        (id: Mountain, position: (2, 8)),
        (id: Mountain, position: (2, 7)),
    ],
)
