[
    ObjectConf(
        id: King,
        name: "King",
        selectable: false,
        animated: true,
        occupied: [
            (0, 0),
        ],
        offset: (0.0, -0.2),
        assets: [
            "objects/king_0.png",
            "objects/king_1.png",
            "objects/king_2.png",
            "objects/king_3.png",
            "objects/king_4.png",
            "objects/king_5.png",
            "objects/king_6.png",
            "objects/king_7.png",
        ],
    ),
    ObjectConf(
        id: Mountain,
        name: "Mountain",
        selectable: false,
        animated: false,
        occupied: [
            (0, 0),
        ],
        offset: (0.0, -0.1175),
        assets: [
            "objects/mountain.png",
        ],
    ),
]
