AssetConf(
    descs: [
        (id: King, path: "objects/king.png", origin: (0.0, -0.25)),
        (id: Villager, path: "objects/village.png", origin: (0.0, 0.0)),
        (id: Cow, path: "objects/cow.png", origin: (0.0, 0.0)),
        (id: Assassin, path: "objects/assassin.png", origin: (0.0, 0.0)),
        (id: Castle, path: "objects/castle.png", origin: (0.0, 0.0)),
        (id: Mountain, path: "objects/mountain.png", origin: (0.0, -0.325)),
        (id: Field, path: "objects/field.png", origin: (0.0, 0.0)),
        (id: House, path: "objects/house.png", origin: (0.0, 0.0)),
        (id: BigHouse, path: "objects/big_house.png", origin: (0.0, 0.0)),
        (id: Farm, path: "objects/farm.png", origin: (0.0, 0.0)),
        (id: Tower, path: "objects/tower.png", origin: (0.0, 0.0)),
        (id: Church, path: "objects/church.png", origin: (0.0, 0.0)),
        (id: Tavern, path: "objects/tavern.png", origin: (0.0, 0.0)),
    ]
)
